$primary-red: rgb(227,69,75);
$primary-blue: rgb(0,85,117);
$highlight: rgb(255,233,0);

$secondary-blue-light: rgb(127,168,183);
$secondary-blue-dark: rgb(56,66,73);
$secondary-red-light: rgb(229,142,147);
$secondary-red-dark: rgb(107,33,43);

$grey-background: rgb(246,246,246);
