@import "colors";

footer {
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 0 -7px 20px 0 #888;
  z-index: 2;

  ul {
    list-style-type: none;
    padding-left: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      width: 100%;
      text-align: center;

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        border: 5px solid #fff;
        background-color: $primary-red;
        color: #fff;

        &:hover {
          background-color: #ff5960;
        }
      }
    }
  }
}
