---
---

@import "colors";
@import "typography";
@import "animations";

@import "navigation";

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;

  section {
    padding: 5vh 13vw;
    z-index: 1;

    &:not(.logo-container) * {
      opacity: 0;
      animation: pop-in .4s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
      animation-delay: .25s;
    }

    &:nth-child(even) {
      background: $grey-background;
    }

    h2:first-child {
      text-align: center;
      color: $primary-red;
      margin-top: 0;
    }

    p {
      line-height: 1.56rem;
      text-align: center;
    }
  }

  .logo-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @media screen and (max-width: 890px) {
      height: 50vh;
    }

    .logo {
      height: 50%;
      opacity: 0;
      animation: pop-in .4s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    }

    .tagline {
      opacity: 0;
      max-width: 70%;
      color: $primary-blue;
      font-size: 1.8rem;
      line-height: 2.425rem;
      font-style: italic;
      text-align: center;
      text-decoration: $highlight underline;
      animation: pop-in .4s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
      animation-delay: .15s;

      @media screen and (max-width: 960px) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin: 25px 0 0;
      }
    }
  }

  .gallery {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 580px) {
      flex-direction: column;
      align-items: center;
    }

    .gallery-item {
      width: 30%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 580px) {
        width: 100%;
        margin-bottom: 50px;
      }

      div:nth-child(2) {
        margin-bottom: 20px;
        color: $primary-blue;
        font-weight: 700;
      }

      .gallery-image {
        width: 62%;
        margin: 0 auto;

        @media screen and (max-width: 580px) {
          width: 30%;
        }
      }

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}
