<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:700|PT+Sans:400,400i,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpeg" href="{{ '/assets/images/favicon.jpg' }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ '/assets/stylesheets/homepage.css' | relative_url }}">
  <script src="{{ '/assets/js/homepage.js' | relative_url }}" type="application/javascript"></script>
</head>
<body>
  {% include partials/header.html %}
  <main>
    <div class="content">
      <section class="logo-container">
        <img class="background-top" src="{{ '/assets/images/background-top.svg' | relative_url }}">
        <img class="background-bottom" src="{{ '/assets/images/background-bottom.svg' | relative_url }}">
        <img class="logo" src="{{ '/assets/images/logo.svg' | relative_url }}">
        <blockquote class="tagline">{{ page.tagline }}</blockquote>
      </section>
      {% assign content = page.content | split: "---" %}
      {% for section in content %}
        <section>
          {% assign escaped_section = section | escape %}
          {% if escaped_section contains '&lt;gallery&gt;' and escaped_section contains '&lt;/gallery&gt;' %}
            {% assign gallery_section = section | split: "<gallery>" %}
            {{ gallery_section[0] | strip | markdownify }}

            {% assign gallery_items = gallery_section[1] | split: "</item>" %}
            <div class="gallery">
              {% for item in gallery_items %}
                {% assign card_components = item | strip_html | newline_to_br | strip_newlines | split: '<br />' | compact %}
                {% if card_components.size < 1 %}
                  {% continue %}
                {% endif %}
                <div class="gallery-item">
                  {% for card_component in card_components %}
                    {% assign size = card_component | strip | size %}
                    {% if size > 0 %}
                      {% assign component = card_component | markdownify %}
                      {% if component contains '<img' %}
                        <div class="gallery-image">{{ component }}</div>
                      {% else %}
                        <div>{{ component }}</div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% else %}
            {{ section | strip | markdownify }}
          {% endif %}
        </section>
      {% endfor %}
  </main>
  {% include partials/footer.html %}
</body>
</html>
